@inherits FluxorComponent
@inject IDispatcher Dispatcher

<MudPaper Class="m-3 " Elevation="0">
    <MudText Class="fw-bolder" Typo="Typo.h5">Meter Setup</MudText>
</MudPaper>


<MudOverlay @bind-Visible="Reloading" DarkBackground="true" ZIndex="9">

    <MudText Typo="Typo.h4">Reloading Energy Readings</MudText>
    <div class="spinner"></div>

</MudOverlay>

<MudTable Items="@_meterStatusList.Values" Breakpoint="Breakpoint.Sm" Elevation="0">
    <HeaderContent>
        <MudTh Class="fw-bold">Type</MudTh>
        <MudTh Class="fw-bold">Add / Remove </MudTh>
        <MudTh Class="fw-bold">MPAN / MPRN</MudTh>
        <MudTh Class="fw-bold">Authorized</MudTh>
        <MudTh Class="fw-bold">Energy Readings</MudTh>
        <MudTh Class="fw-bold">Manual Update Readings</MudTh>
        <MudTh Class="fw-bold">Current Tariff</MudTh>
        <MudTh Class="fw-bold"></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd Class="fw-bold" DataLabel="Type">@context.MeterType</MudTd>
        <MudTd DataLabel="Add / Remove">

            @if (context.Added)
            {
                <MudButton Class="m-1" Color="Color.Error" ButtonType="ButtonType.Button" Variant="Variant.Outlined" Size="Size.Small" @onclick="@(async () => await RemoveMeterAsync(context.MeterType))">Remove</MudButton>
            }
            else
            {
                <MudTooltip Text="@(!HouseholdState.Value.Saved ? "Configure Household to add a Meter" : "Add a new Meter")">
                    <MudLink Disabled="@(!HouseholdState.Value.Saved)" Underline="Underline.None" Href="@(context.MeterType == MeterType.Electricity ? "/AddElectricityMeter" : "/AddGasMeter")">
                        <MudButton Disabled="@(!HouseholdState.Value.Saved)" Color="Color.Primary" ButtonType="ButtonType.Button" Variant="Variant.Filled" Size="Size.Small">Add</MudButton>
                    </MudLink>
                </MudTooltip>
            }
        </MudTd>
        <MudTd DataLabel="MPAN / MPRN">@context.Mpxn</MudTd>
        <MudTd DataLabel="Authorized">
            @if (context.Authorized)
            {
                <MudText Color="Color.Success">Authorized</MudText>
            }
            else
            {
                <MudTooltip ShowOnHover="true" Text="Authorize this meter with n3rgy">

                    <MudLink Disabled="@(!context.Added)" Underline="Underline.None" Href="@($"/MeterAuthorization/{context.MeterType}")">
                        <MudButton Color="Color.Default" Disabled="@(!context.Added)" ButtonType="ButtonType.Button" Variant="Variant.Filled" Size="Size.Small">Authorize</MudButton>
                    </MudLink>
                </MudTooltip>
            }
        </MudTd>
        <MudTd DataLabel="Energy Readings">
            @if (context.Authorized)
            {
                if (context.ReadingsLoading)
                {
                    <MudText>Updating...</MudText>
                }
                else if (context.LatestReadingsDate != null)
                {
                    @if (context.LatestReadingsDate.eUpToDate())
                    {
                        <MudText>Up to Date</MudText>
                    }
                    else
                    {
                        <MudText>Most Recent: @context.LatestReadingsDate.Value.eDateToMinimal()</MudText>
                    }
                }
                else
                {
                    <MudText>No Energy Readings Loaded</MudText>
                }
            }
        </MudTd>
        <MudTd DataLabel="Manual Update Readings">
            @if (context.Authorized && !context.ReadingsLoading)
            {
                @if (context.LatestReadingsDate != null)
                {
                    <MudButton Disabled="context.LatestReadingsDate.eUpToDate()" Class="m-1" Color="Color.Primary" ButtonType="ButtonType.Button"
                               Variant="Variant.Outlined" Size="Size.Small" @onclick="@((e) => DispatchUpdateReadings(context.MeterType))">Update</MudButton>
                }
                <MudButton Class="m-1"  Color="Color.Error" ButtonType="ButtonType.Button" Variant="Variant.Outlined" Size="Size.Small" @onclick="@(() => DispatchReloadReadings(context.MeterType))">Reload All</MudButton>
            }

        </MudTd>
        <MudTd DataLabel="Current Tariff">
            @if (context.Added)
            {
                @if (context.HasActiveTariff)
                {
                    <MudText Typo="Typo.body2">@context.TariffUnitRateText</MudText>
                    <MudText Typo="Typo.body2">@context.TariffStandingChargeText</MudText>
                }
                else
                {
                    <MudAlert Severity="Severity.Warning">No active tariff set</MudAlert>
                }
            }
        </MudTd>
        <MudTd DataLabel="Set Tariffs">
            @*<MudTooltip Text="Tooltip">*@
            <MudTooltip ShowOnHover="true" Text="Set Tariffs for this Meter">
                <MudLink Disabled="@(!context.Added)" Underline="Underline.None"
                         Href="@($"/Tariffs/{context.MeterType}")">
                    <MudButton Color="Color.Primary"
                               Disabled="@(!context.Added)"
                               ButtonType="ButtonType.Button"
                               Variant="Variant.Filled"
                               Size="Size.Small"
                               StartIcon="@Icons.Material.Filled.CurrencyPound">Tariffs</MudButton>
                </MudLink>
            </MudTooltip>
        </MudTd>
    </RowTemplate>

</MudTable>

<MudMessageBox @ref="DeleteBox" Title="Warning" CancelText="Cancel">
    <MessageContent>
        This will remove the meter with all associated data,<br />
        including Energy Readings and Tariffs
        <br />
        <br />
        <strong>This cannot be undone</strong>
        <br />
        <br />

    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Text" Class="ml-2" Color="Color.Error" Size="Size.Small">Delete</MudButton>
    </YesButton>
    <CancelButton>
        <MudButton Variant="Variant.Text" Color="Color.Default" Size="Size.Small">Cancel</MudButton>
    </CancelButton>
</MudMessageBox>





