@inherits FluxorComponent
@using Energy.App.Standalone.Pages.SetupWizard
@inject AppStatus AppStatus
@inject IState<UserLockState> UserLockState

@if (Ready)
{
    <div class="d-flex justify-space-between align-baseline">
        <MudPaper Class="d-flex ma-3 align-center" Elevation="0">
            <MudText Typo="Typo.h5" Class=" fw-bolder">App Setup Status</MudText>
            <DocTooltipIcon DocSnippetHeader="App Setup Status"
                            DocSnippetType="DocSnippetType.AppSetupStatus"
                            IconTitle="Help for App Setup Status" />
        </MudPaper>
    </div>

    <MudList Dense="true">
        @if (UserLockState.Value.LockingOrLocked)
        {
            <MudListItem><MudAlert Variant="Variant.Outlined" Severity="Severity.Warning">Application is Locked</MudAlert></MudListItem>
        }
        else
        {
            <MudListItem>
                <MudAlert Variant="Variant.Outlined" Severity="@HouseholdSeverity">Household Setup: @HouseholdStatus</MudAlert>
                </MudListItem>
            <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@ElectricitySeverity">Electricity Meter: @ElectricityStatus</MudAlert></MudListItem>
            <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@GasSeverity">Gas Meter: @GasStatus</MudAlert></MudListItem>
            <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@ElectricityReadingsSeverity">Electricity Readings: @ElectricityReadingsStatus.Status</MudAlert></MudListItem>
            <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@ElectricityHistoricalForecastSeverity">Electricity Historical Forecast: @ElectricityHistoricalForecastStatus.Status</MudAlert></MudListItem>
            <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@GasReadingsSeverity">Gas Readings: @GasReadingsStatus.Status</MudAlert></MudListItem>
            <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@GasHistoricalForecastSeverity">Gas Historical Forecast: @GasHistoricalForecastStatus.Status</MudAlert></MudListItem>
            <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@HeatingForecastSeverity">@HeatingForecastStatus.Status</MudAlert></MudListItem>

        }
    </MudList>
}