@inherits FluxorComponent
@using Energy.App.Standalone.Pages.SetupWizard
@inject AppStatus AppStatus

@if (Ready)
{
    <div>
        <WizardModal @bind-Open="OpenWizard">
        </WizardModal>
    </div>
    <div class="p-2 mt-3 d-flex flex-wrap justify-space-between align-baseline">
        <MudPaper Class="d-flex ma-3 align-center" Elevation="0">
            <MudText Typo="Typo.h5" Class=" fw-bolder">App Setup Status</MudText>
            <DocTooltipIcon DocSnippetHeader="App Setup Status"
                            DocSnippetType="DocSnippetType.AppSetupStatus" 
                            IconTitle="Help for App Setup Status" />

        </MudPaper>

        <MudPaper Class="d-flex ma-3" Elevation="0">
            <MudButton Class="ma-0 fw-bolder"
                       Disabled="@AppStatus.IsDemoMode"
                       OnClick="@((c) => { OpenWizard = true; return Task.CompletedTask; })"
                       Size="Size.Medium"
                       ButtonType="ButtonType.Button"
                       Variant="Variant.Filled"
                       Color="Color.Info"
                       StartIcon="@Icons.Material.Filled.AutoFixHigh">Setup Wizard</MudButton>
            <DocTooltipIcon OptionalRootClass="align-self-center" DocSnippetHeader="Setup Wizard" DocSnippetType="DocSnippetType.SetupWizard" IconTitle="Using the Setup Wizard" />

        </MudPaper>

    </div>


    <MudList Dense="true">
        <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@HouseholdSeverity">Household Setup: @HouseholdStatus</MudAlert></MudListItem>
        <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@ElectricitySeverity">Electricity Meter: @ElectricityStatus</MudAlert></MudListItem>
        <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@GasSeverity">Gas Meter: @GasStatus</MudAlert></MudListItem>
        <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@ElectricityReadingsSeverity">Electricity Readings: @ElectricityReadingsStatus.Status</MudAlert></MudListItem>
        <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@ElectricityHistoricalForecastSeverity">Electricity Historical Forecast: @ElectricityHistoricalForecastStatus.Status</MudAlert></MudListItem>
        <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@GasReadingsSeverity">Gas Readings: @GasReadingsStatus.Status</MudAlert></MudListItem>
        <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@GasHistoricalForecastSeverity">Gas Historical Forecast: @GasHistoricalForecastStatus.Status</MudAlert></MudListItem>
        <MudListItem><MudAlert Variant="Variant.Outlined" Severity="@HeatingForecastSeverity">@HeatingForecastStatus.Status</MudAlert></MudListItem>
    </MudList>

}