


<div class="popover-container">
    <div class="@(_open ? "popover-overlay" : "no-overlay")">@_open</div>

    <MudPopover Open="_open"
                Class="eme-popover"
                OverflowBehavior="OverflowBehavior.FlipAlways"
                AnchorOrigin="Origin.BottomCenter"
                TransformOrigin="Origin.TopCenter"
                RelativeWidth="true">


        @switch (_currentStage)
        {
            case SetupStage.NotSeenWelcomeScreenSplash:
                <WizardStepTemplate OptionalHeaderText="Welcome to Explain my Energy" CloseWizardCallback="CloseModal">
                    <SetupStepPage>
                        <WelcomeText OnSuccessCallback="@(async
                            () =>
                            {   _currentStageSuccess = true;
                                await WelcomeTextAcknowledged();
                            })">
                        </WelcomeText>
                    </SetupStepPage>
                    <ActionButtons>
                        <div class="d-flex justify-content-evenly">
                            <MudButton Disabled="@(!_currentStageSuccess)" Color="Color.Primary" OnClick="GoToNextStage">Start Wizard</MudButton>
                            <MudButton Color="Color.Default" OnClick="CloseModal">Close</MudButton>
                        </div>
                    </ActionButtons>
                </WizardStepTemplate>
                break;
            case SetupStage.HouseholdNotSetup:
                <WizardStepTemplate CloseWizardCallback="CloseModal">
                    <SetupStepPage>
                        <Household SaveSuccessfulCallback="@(() => { _currentStageSuccess = true; return Task.CompletedTask;})" />
                    </SetupStepPage>
                    <ActionButtons>
                        <div class="d-flex justify-content-evenly">
                            <MudButton Disabled="@(!_currentStageSuccess)" Color="Color.Primary" OnClick="GoToNextStage">Next</MudButton>
                            <MudButton Color="Color.Default" OnClick="CloseModal">Close</MudButton>
                        </div>
                    </ActionButtons>
                </WizardStepTemplate>

                break;
            case SetupStage.GasMeterNotSetup:
                <WizardStepTemplate CloseWizardCallback="CloseModal">
                    <SetupStepPage>
                        <AddGasMeterFormComponent OnSuccessfulCallback="@(() => { _currentStageSuccess = true; return Task.CompletedTask;})" />
                    </SetupStepPage>
                    <ActionButtons>
                        <div class="d-flex justify-content-evenly">
                            <MudButton Disabled="@(!_currentStageSuccess)" Color="Color.Primary" OnClick="GoToNextStage">Authorize</MudButton>
                            <MudButton Disabled="@(!_canSkipCurrentStage)" ButtonType="ButtonType.Button" OnClick="SkipToNextValidStage" Color="Color.Default">Skip to Electricity Meter</MudButton>

                            <MudButton Color="Color.Default" OnClick="CloseModal">Close</MudButton>
                        </div>
                    </ActionButtons>
                </WizardStepTemplate>

                break;
            case SetupStage.GasMeterNotAuthorized:
                <WizardStepTemplate CloseWizardCallback="CloseModal">
                    <SetupStepPage>
                        <MeterAuthorizationFormComponent 
                            MeterType="MeterType.Gas"
                            OnSuccessfulCallback="@(((bool meterAuthSuccess, bool energyDataProcessSuccess, string message)result) =>
                                                            {   
                                                                _dataProcessingMessage = result.message;
                                                                _currentStageSuccess = result.meterAuthSuccess;
                                                                _dataProcessingResult = result.energyDataProcessSuccess;
                                                                _showLoadingSpinner = false;
                                                                return Task.CompletedTask;
                                                            })"
                            @bind-ReadingsLoading="_showLoadingSpinner" />
                </SetupStepPage>
                <ActionButtons>
                        <div class="eme-popover-processing-data-spinner" style="@(_showLoadingSpinner ? String.Empty : "display: none;")">
                            <div class="spinner m-1"></div>
                            <MudText Typo="Typo.body2" Class="m-1">
                                Meter authorized, please wait while we process your data
                            </MudText>
                        </div>
                        <div class="d-flex" style="@(_currentStageSuccess ? String.Empty : "display: none;")">
                            <MudAlert Severity="@(_dataProcessingResult ? Severity.Success : Severity.Info)" 
                            Variant="Variant.Outlined">@_dataProcessingMessage</MudAlert>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <MudButton Disabled="@(!_currentStageSuccess)" Color="Color.Primary" OnClick="GoToNextStage">Authorize</MudButton>
                            <MudButton Disabled="@(!_canSkipCurrentStage)" ButtonType="ButtonType.Button" OnClick="SkipToNextValidStage" Color="Color.Default">Skip</MudButton>

                            <MudButton Color="Color.Default" OnClick="CloseModal">Close</MudButton>
                        </div>
                    </ActionButtons>
                </WizardStepTemplate>
                break;
            case SetupStage.ElectricityMeterNotSetup:
                <WizardStepTemplate CloseWizardCallback="CloseModal">
                    <SetupStepPage>
                        <AddElectricityMeterFormComponent OnSuccessfulCallback="@(() => { _currentStageSuccess = true; return Task.CompletedTask;})" />

                    </SetupStepPage>
                    <ActionButtons>
                        <div class="d-flex justify-content-evenly">
                            <MudButton Disabled="@(!_currentStageSuccess)" Color="Color.Primary" OnClick="GoToNextStage">Authorize</MudButton>
                            <MudButton Disabled="@(!_canSkipCurrentStage)" ButtonType="ButtonType.Button" OnClick="SkipToNextValidStage" Color="Color.Default">Skip</MudButton>

                            <MudButton Color="Color.Default" OnClick="CloseModal">Close</MudButton>
                        </div>
                    </ActionButtons>
                </WizardStepTemplate>
                break;
            case SetupStage.ElectricityMeterNotAuthorized:
                <WizardStepTemplate CloseWizardCallback="CloseModal">
                    <SetupStepPage>
                        <MeterAuthorizationFormComponent 
                            MeterType="MeterType.Electricity"
                            OnSuccessfulCallback="@(((bool meterAuthSuccess, bool energyDataProcessSuccess, string message)result) =>
                                                            {   
                                                                _dataProcessingMessage = result.message;
                                                                _currentStageSuccess = result.meterAuthSuccess;
                                                                _dataProcessingResult = result.energyDataProcessSuccess;
                                                                _showLoadingSpinner = false;
                                                                return Task.CompletedTask;
                                                            })"
                            @bind-ReadingLoadings="_showLoadingSpinner" />

                    </SetupStepPage>
                    <ActionButtons>
                        <div class="eme-popover-processing-data-spinner" style="@(_showLoadingSpinner ? String.Empty : "display: none;")">
                            <div class="spinner m-1"></div>
                            <MudText Typo="Typo.body2" Class="m-1">
                                Meter authorized, please wait while we process your data
                            </MudText>
                        </div>
                        <div class="d-flex" style="@(_currentStageSuccess ? String.Empty : "display: none;")">
                            <MudAlert Severity="@(_dataProcessingResult ? Severity.Success : Severity.Info)" 
                            Variant="Variant.Outlined">@_dataProcessingMessage</MudAlert>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <MudButton Disabled="@(!_currentStageSuccess)" Color="Color.Primary" OnClick="GoToNextStage">Authorize</MudButton>
                            <MudButton Disabled="@(!_canSkipCurrentStage)" ButtonType="ButtonType.Button" OnClick="SkipToNextValidStage" Color="Color.Default">Skip</MudButton>

                            <MudButton Color="Color.Default" OnClick="CloseModal">Close</MudButton>
                        </div>
                    </ActionButtons>
                </WizardStepTemplate>
                break;
            case SetupStage.None:
                <WizardStepTemplate CloseWizardCallback="CloseModal">
                    <SetupStepPage>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="12">
                                <MudPaper Elevation="2" Class="p-2 mt-2">
                                    <MudAlert Severity="Severity.Success" Elevation="0" Class="eme-alert">Setup wizard completed</MudAlert>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </SetupStepPage>
                    <ActionButtons>
                        <div class="d-flex justify-content-evenly">
                            <MudButton Color="Color.Success" ButtonType="ButtonType.Button" OnClick="GoToAnalysis">View Analysis</MudButton>

                            <MudButton Color="Color.Default" OnClick="CloseModal">Close</MudButton>
                        </div>
                    </ActionButtons>
                </WizardStepTemplate>

                break;

            default:
                Logger.LogError("Setup Stage not recognised: {SetupStage}", _currentStage);
                break;
        }

    </MudPopover>

</div>

@code {

    [Inject] ILogger<Modal> Logger { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] InMemoryStateContainer InMemoryStateContainer { get; set; }

    [Parameter] public bool Open { get; set; }
    [Parameter] public EventCallback<bool> OpenChanged { get; set; }


    [Parameter] public SetupStage InitialSetupStages { get; set; }

    List<SetupStage> _setupStages;
    bool _open = false;

    SetupStage _currentStage;
    SetupStage _nextValidStage;
    bool _currentStageSuccess = false;
    bool _canSkipCurrentStage = false;

    bool _showLoadingSpinner = false;
    string _dataProcessingMessage = String.Empty;
    bool _dataProcessingResult = false;

    private Task WelcomeTextAcknowledged()
    {
        InMemoryStateContainer.WelcomeTermsAccepted = true;
        return Task.CompletedTask;
    }

    protected override void OnParametersSet()
    {
        @if (InitialSetupStages == SetupStage.None)
        {
            Logger.LogInformation("All setup stages complete: {InitialSetupStages}", InitialSetupStages);
        }


        _setupStages = InitialSetupStages.eGetFlags().Where(c => c != SetupStage.None).ToList();

        _currentStage = _setupStages.First();

        SetSkipToNextValidStageValid();

        _open = Open;

        StateHasChanged();
    }


    void SetSkipToNextValidStageValid()
    {

        if (_currentStage == SetupStage.HouseholdNotSetup)
        {
            _canSkipCurrentStage = false;
            _nextValidStage = _setupStages.Find(c => c > SetupStage.HouseholdNotSetup);
            return;
        }

        if (_currentStage == SetupStage.None)
        {
            _canSkipCurrentStage = false;
            _nextValidStage = _currentStage;
            return;
        }

        var nextStage = _setupStages.Find(c => c > _currentStage);

        if (_currentStage == SetupStage.GasMeterNotSetup || _currentStage == SetupStage.GasMeterNotAuthorized)
        {
            if (_setupStages.Exists(c => c == SetupStage.ElectricityMeterNotSetup))
            {
                _canSkipCurrentStage = true;
                _nextValidStage = SetupStage.ElectricityMeterNotSetup;
                return;
            }

            if (_setupStages.Exists(c => c == SetupStage.ElectricityMeterNotAuthorized))
            {
                _canSkipCurrentStage = true;
                _nextValidStage = SetupStage.ElectricityMeterNotAuthorized;
                return;
            }
        }
        _nextValidStage = nextStage;
        _canSkipCurrentStage = false;

    }

    void SkipToNextValidStage()
    {
        _currentStage = _nextValidStage;
        SetSkipToNextValidStageValid();

        StateHasChanged();
    }

    void GoToNextStage()
    {
        _setupStages.Remove(_currentStage);
        _currentStage = _setupStages.FirstOrDefault();
        _currentStageSuccess = false;
        SetSkipToNextValidStageValid();

        StateHasChanged();
    }


    async void GoToAnalysis()
    {
        try
        {
            _open = false;
            await OpenChanged.InvokeAsync(false);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error closing modal");
        }

        NavigationManager.NavigateTo("/Analysis"); //TODO: Setup custom route
    }

    async void CloseModal()
    {
        try
        {
            _open = false;
            await OpenChanged.InvokeAsync(false);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error closing modal");
        }

    }

}
