<!DOCTYPE html>
<html lang="en">

<head prefix="<%= ogHeadPrefix %>">
    <meta charset="utf-8" />

    <title>Explain My Energy</title>
    
    <link href="manifest.webmanifest" rel="manifest" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="<%= robotsContent %>">

    <meta name="description" content="<%= description %>" />

    <meta name="color-scheme" content="only light" />

    <meta property='og:title' content='<%= title %>' />
    <meta property='og:image' content='<%= ogImage %>' />
    <meta property='og:description' content='<%= description %>' />
    <meta property='og:url' content='<%= ogUrl %>' />
    <meta property='og:type' content='<%= ogType %>' />

    <base href="/" />

    <link rel="icon" href="../favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png">


    <link rel="stylesheet" href="../scss/fontawesome/app-fontawesome.scss">

    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="Energy.App.Standalone.styles.css" rel="stylesheet" />
    <link href="../scss/app/app.scss" rel="stylesheet" />

</head>

<body>
    <div id="app">
        <svg class="loading-progress">
            <circle r="40%" cx="50%" cy="50%" />
            <circle r="40%" cx="50%" cy="50%" />
        </svg>
        <div class="loading-progress-text"></div>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.webassembly.js"></script>
 
    <script src="_content/DnetIndexedDb/rxjs.min.js"></script>
    <script src="_content/DnetIndexedDb/dnet-indexeddb.js"></script>
    
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <script src="../ts/index.ts"></script>

</body>

</html>
