@inherits LayoutComponentBase
@inject IConfiguration Configuration
@inject AppStatus AppStatus

<MudThemeProvider Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<div>
    <MudLayout>
        <MudAppBar Elevation="1" Class="">
            <MudIconButton UserAttributes="@(new () {{"id","toggle-show-main-site-links-button" },{"aria-controls","main-site-links-region"},{"aria-expanded",_drawerOpen}})" Title="Toggle Expand Main Site Links" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <div class="w-fit-content">
                <MudNavLink Href="/">
                        <MudText Align="Align.Center" 
                                Typo="Typo.h5"
                                 Color="Color.Inherit"
                                 Class="eme-main-header m-0">Explain My Energy @(_demoNote)</MudText>
                    </MudNavLink>

                </div>
                <MudSpacer />


                <div class="w-fit-content">

                    <MudButton Color="Color.Inherit" IconColor="Color.Inherit" Href="@AppStatus.DocsUri" EndIcon="fa-solid fa-book-open" IconSize="Size.Small"
                               Target="_Blank" Size="Size.Small">Documentation</MudButton>
                </div>
                <div class="w-fit-content menu-nav-item git-hub">
                    <MudNavLink Target="_Blank" Icon="@Icons.Custom.Brands.GitHub" IconColor="Color.Inherit" Href="https://github.com/zola-25/Explain-My-Energy"></MudNavLink>
                </div>
            </MudAppBar>
            <MudDrawer UserAttributes="@(new () {{"id", "main-site-links-region"},{"role","region" },{"aria-label","Contains Main Site Navigation Links"}})"
            @bind-Open="_drawerOpen"
                       ClipMode="DrawerClipMode.Always"
                       Elevation="2"
                       DisableOverlay="true">
                <NavMenu></NavMenu>
            </MudDrawer>
            <MudMainContent>
                <MudContainer>
                    <DataValidatorBase>

                        @Body

                    </DataValidatorBase>
                </MudContainer>
            </MudMainContent>
            <MudAppBar Color="Color.Dark" ToolBarClass="d-flex justify-start" DisableGutters="true" Bottom="true" Dense="true" Fixed="true" Elevation="1">
                <div class="w-fit-content footer-nav-item">
                    <MudNavLink Href="/PrivacyPolicy">Privacy Policy</MudNavLink>
                </div>
                <div class="w-fit-content footer-nav-item">
                    <MudNavLink Href="/TermsAndConditions">Terms &amp; Conditions</MudNavLink>
                </div>
                <MudSpacer />

                <div class="w-fit-content footer-nav-item">

                    <MudNavLink Href="/Credits">Credits</MudNavLink>
                </div>

            </MudAppBar>
        </MudLayout>
    </div>
    @code {

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private readonly MudTheme _theme = new()
        {
            Palette = new PaletteLight()
            {
                Secondary = Colors.Orange.Lighten1,
                SecondaryContrastText = Colors.Shades.White,
                Tertiary = Colors.Orange.Darken4,
                HoverOpacity = 0.3,

            },
            Typography = new Typography
            {
                Default = { FontFamily = new[] { "Open Sans", "Helvetica", "sans-serif" } },
                Body1 = { LineHeight = 2 }
            },
        };

    string _demoNote = String.Empty;

    protected override void OnInitialized()
    {
        _demoNote = Configuration["App:UseDemoSetup"] == "True" ? "Demo" : "";
    }




}
