@namespace Energy.App.Standalone.Shared
@using System.Text.Encodings.Web
<MudMenu >
    <ActivatorContent>
        <MudIconButton Color="Color.Inherit" Icon="@Icons.Material.Filled.IosShare" />
    </ActivatorContent>
    <ChildContent>
    <div class="share-menu">
        <MudMenuItem Class="d-flex py-0 pointer-events-none" Disabled="true">
            <MudText Color="Color.Dark" Class="fw-bold" Align="Align.Left">
                Share via
            </MudText>
        </MudMenuItem>

        <MudMenuItem Disabled="_disabledDuringDevelopment"
                     Href="@($"https://www.facebook.com/sharer/sharer.php?u={_encodedBaseUri}")" 
                     Target="_blank"
                     Class="facebook-share"
                     IconSize="Size.Large"
                     Icon="@Icons.Custom.Brands.Facebook">
            <MudText Color="@Color.Dark" Class="mx-2" Typo="Typo.body1">Facebook</MudText>
        </MudMenuItem>

        <MudMenuItem Disabled="_disabledDuringDevelopment"
                     Href="@($"https://www.linkedin.com/sharing/share-offsite/?url={_encodedBaseUri}")" 
                     Target="_blank"
                     Class="linkedIn-share"
                     IconSize="Size.Large"
                     Icon="@Icons.Custom.Brands.LinkedIn">
            <MudText Color="@Color.Dark" Class="mx-2" Typo="Typo.body1">LinkedIn</MudText>
        </MudMenuItem>
        <MudMenuItem Disabled="_disabledDuringDevelopment"
                     Href="@($"https://twitter.com/intent/tweet?url={_encodedBaseUri}&text={_encodedText}")" 
                     Target="_blank"
                     IconColor="Color.Default"
                     Class="twitter-share"
                     IconSize="Size.Large"
                     Icon="fa-brands fa-x-twitter">
            <MudText Color="@Color.Dark" Class="mx-2" Typo="Typo.body1">Twitter</MudText>
        </MudMenuItem>
        </div>
    </ChildContent>
</MudMenu>
@code {

    [Inject] NavigationManager NavigationManager { get; set; }

    bool _disabledDuringDevelopment = false;
    string _encodedBaseUri;
    string _encodedText;
    protected override void OnInitialized()
    {

        _encodedBaseUri = UrlEncoder.Default.Encode(NavigationManager.BaseUri);
        _encodedText = UrlEncoder.Default.Encode("Explain My Energy");
    }
}