<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> {{emeAppName}} - Credits, Attributions &amp; Licenses </title>
    <meta name="robots" content="noindex">
    <link href="{{{emeCreditsAndLicensesCss}}}" rel="stylesheet" />
</head>

<body>
    <div class="eme--license-credits---root">
        <div class="eme--license-attribution-header--root">
            <h1>{{emeAppName}} - Credits, Attributions &amp; Licenses </h1>


            <h2 class="eme--name">{{emeAppName}} v{{emeFullVersion}}</h2>
            <div class="eme--api-attribution--root">
                <h4><strong>This app wouldn't function without the following APIs:</strong></h4>
                <ul>
                    <li>
                        <p>
                            The free consumer API from made available by n3rgy at <a href="https://www.n3rgy.com/consumer/">
                                n3rgy
                                Consumer Portal
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            Open-Meteo, an amazing and comprehensive weather API service at <a href="https://open-meteo.com">open-meteo.com</a>
                        </p>
                        <div class="eme--api-attribution-detail">
                            <p>
                                Open-Meteo API Data is Licensed under the <strong>
                                    Creative Commons Attribution 4.0
                                    International Public License (CC-BY-4.0)
                                </strong>, a copy is available here @ <a rel="nofollow"
                                                                         href="https://creativecommons.org/licenses/by/4.0/legalcode">creativecommons.org</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <p>
                            postcodes.io, a great Open Data API for resolving UK
                            postcodes. Find it here at <a href="https://postcodes.io">postcodes.io</a>.
                            The postcodes.io API is licensed under the <strong>MIT License</strong>, a copy is available
                            here at their repository here <a rel="nofollow"
                                                             href="https://github.com/ideal-postcodes/postcodes.io/blob/master/LICENSE">github.com/ideal-postcodes/postcodes.io</a>
                        </p>
                        <div class="eme--api-attribution-detail">

                            <p>
                                Great Britain Postcode Data is licensed under the <strong>Open Government License</strong>
                                available at <a rel="nofollow"
                                                href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">
                                    Open
                                    Government Licence v3.0
                                </a>
                            </p>
                            <p>
                                Northern Ireland Postcode Data (postcodes beginning with BT) is used non-commerically, as
                                such
                                also subject to the <strong>Open Government License</strong> available at <a rel="nofollow"
                                                                                                             href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">
                                    Open
                                    Government Licence v3.0
                                </a>
                            </p>
                            <p>Contains Ordnance Survey data &copy; Crown copyright and database right 2023</p>
                            <p>Contains Royal Mail data &copy; Royal Mail copyright and database right 2023</p>
                            <p>Contains National Statistics data &copy; Crown copyright and database right 2023</p>
                            <p>Contains NRS data &copy; Crown copyright and database right 2023 </p>
                            <p>
                                More information on Open Data Licensing for postcodes.io can be found at <a rel="nofollow"
                                                                                                            href="https://ideal-postcodes.co.uk/guides/onspd-licensing">ideal-postcodes.co.uk/guides/onspd-licensing</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <h4>Explain My Energy is licensed <span class="eme--license-type">{{emeLicenseType}}</span>:</h4>
            <pre class="eme--license-text">{{{emeFullLicenseText}}}</pre>


        </div>
        <div>
            {{> nugetCreditsPartial }}
        </div>
        <div>
            {{> npmCreditsPartial }}
        </div>
    </div>
</body>